# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

black
flake8<4.1
# need this fix but it is not yet released
# https://github.com/juju/python-libjuju/pull/696
git+https://github.com/juju/python-libjuju.git@34981c59eac8db89320bf0067bebd2547da12d45
pytest<6.3
pytest-cov<3.0
pyyaml<6.1
tenacity<8.1
