apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: {{ app_name }}-lws
    control-plane: controller-manager
  name: {{ app_name }}-lws-controller-manager-metrics-service
  namespace: {{ namespace }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app.kubernetes.io/component: {{ app_name }}-lws-controller
    control-plane: {{ app_name }}-controller-manager
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/created-by: lws
    app.kubernetes.io/instance: webhook-service
    app.kubernetes.io/name: {{ app_name }}-service
    app.kubernetes.io/part-of: lws
  name: {{ app_name }}-lws-webhook-service
  namespace: {{ namespace }}
spec:
  ports:
  - port: {{ webhook_port }}
    protocol: TCP
    targetPort: {{ webhook_target_port }}
  selector:
    app.kubernetes.io/component: {{ app_name }}-lws-controller
    control-plane: {{ app_name }}-controller-manager
