---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-workload
  namespace: {{ namespace }}
spec:
  ports:
    - name: monitoring-port
      port: {{ metrics_port }}
      targetPort: {{ metrics_port }}
    - name: webhook-server
      port: {{ webhook_port }}
      protocol: TCP
      targetPort: {{ webhook_target_port }}
  selector:
    app.kubernetes.io/name: {{ app_name }}
    app.kubernetes.io/component: manager
