# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  quality-checks:
    name: Quality checks
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: "."

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: pipx install tox

    - name: Lint code
      run: tox -vve lint

  unit-test:
    name: Unit
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install tox

      - name: Run unit tests
        run: tox -e unit

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: training-operator-cov_html
        if: failure()

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .

  integration-test:
    name: Integration
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        tox-environment:
          - integration
          - integration-ambient
          - integration-with-profiles
    steps:
      - name: Maximise GH runner space
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace

      - name: Configure Cilium for Canonical K8s
        if: matrix.tox-environment == 'integration-ambient'
        run: |
          # Configure Cilium for Canonical K8s to work with Charmed Istio (Ambient mode)
          # See https://canonical-service-mesh-documentation.readthedocs-hosted.com/en/latest/how-to/use-charmed-istio-with-canonical-kubernetes/
          kubectl -n kube-system patch configmap cilium-config --type merge --patch '{"data":{"bpf-lb-sock-hostns-only":"true"}}'
          kubectl -n kube-system rollout restart daemonset cilium
  
      - name: Fetch charm
        uses: actions/download-artifact@v5
        with:
          name: built-charm
          path: built/

      - name: Get charm path
        id: charm-path
        run: echo "charm_path=$(find built/ -name '*.charm' -type f -print)" >> $GITHUB_OUTPUT

      - name: Run integration tests
        run: tox -e ${{ matrix.tox-environment }}  -- --model testing --charm-path="${{ steps.charm-path.outputs.charm_path }}"

      - name: Capture k8s resources on failure
        run: |
          set -eux
          kubectl get all -A
          kubectl get pods -n testing --show-labels
          kubectl get crds
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get validatingwebhookconfigurations
        run: kubectl get validatingwebhookconfigurations validator.training-operator.kubeflow.org -oyaml
        if: failure()

      - name: Get secret
        run: kubectl get secret -ntesting training-operator-webhook-cert -oyaml
        if: failure()

      - name: Describe pod
        run: kubectl describe pod -ntesting -lapp.kubernetes.io/name=training-operator
        if: failure()

      - name: Get pods
        run: kubectl get pods -A
        if: failure()

      - name: Get operator logs
        run: kubectl logs --tail 100 -ntesting -lapp.kubernetes.io/name=training-operator -ctraining-operator
        if: failure()
