# reusable workflow triggered by other actions
name: Tests

on:
  workflow_call:
    secrets:
      charmcraft-credentials:
        required: true

jobs:

  lib-check:
    name: Check libraries
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.1.1
        with:
          credentials: "${{ secrets.charmcraft-credentials }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  lint:
    name: Lint
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: pip install tox

    - name: Lint code
      run: tox -vve lint

  unit-test:
    name: Unit
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install tox

      - name: Run unit tests
        run: tox -e unit

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: training-operator-cov_html
        if: failure()

  integration-test:
    name: Integration
    runs-on: ubuntu-20.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup operator environment
        uses: claudiubelu/actions-operator@18ebf92ae3043bd3dd15238e5d9b662d7ba08daf
        with:
          provider: microk8s
          channel: 1.24/stable
          # Pinned until this bug is resolved: https://bugs.launchpad.net/juju/+bug/1992833
          bootstrap-options: "--agent-version=2.9.34"
          microk8s-addons: "dns storage rbac metallb:10.64.140.43-10.64.140.49"

      - name: Run integration tests
        run: tox -e integration -- --model testing

      - name: Capture k8s resources on failure
        run: |
          set -eux
          kubectl get all -A
          kubectl get pods -n testing --show-labels
          kubectl get crds
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get workload logs
        run: kubectl logs --tail 100 -ntesting -lapp.kubernetes.io/name=training-operator -ccharm
        if: failure()

      - name: Get operator logs
        run: kubectl logs --tail 100 -ntesting -lapp.kubernetes.io/name=training-operator -ctraining-operator
        if: failure()
