# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  quality-checks:
    name: Quality checks
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: "."

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: pipx install tox

    - name: Lint code
      run: tox -vve lint

  unit-test:
    name: Unit
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install tox

      - name: Run unit tests
        run: tox -e unit

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: kubeflow-trainer-cov_html
        if: failure()

  terraform-checks:
    name: Terraform
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/terraform-checks.yaml@main
    with:
      charm-path: .

  integration-test:
    name: Integration
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        tox-environments:
          - integration
          - integration-with-profiles
    steps:
      - name: Maximise GH runner space
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace

      - name: Cache images locally
        shell: bash
        run: |
          # this step is required to prefetch heavy images to avoid false-positive failures in
          # integration tests due to timeouts unrelated to the charm itself
          RUNTIME_FILES=(
            "src/training_runtimes/deepspeed_distributed.yaml"
            "src/training_runtimes/mlx_distributed.yaml"
          )
          for RUNTIME_FILE in "${RUNTIME_FILES[@]}"; do
            IMAGE=$(yq '.spec.template.spec.replicatedJobs.[0].template.spec.template.spec.containers[0].image' "${RUNTIME_FILE}")
            # set internal field separator to ":" and tokenize the image string
            IFS=':' read -ra SPLIT_IMAGE <<< "${IMAGE}"
            HASH="latest"
            # handle case in which image already has an hash
            if [ ${#SPLIT_IMAGE[@]} = 2 ]; then
              HASH=${SPLIT_IMAGE[-1]}
            fi
            FINAL_IMAGE="${SPLIT_IMAGE[0]}:${HASH}"
            echo "Pulling ${FINAL_IMAGE}"
            # explanation of this command can be found in Canonical K8s image management doc
            # https://documentation.ubuntu.com/canonical-kubernetes/latest/snap/howto/image-management/
            sudo /snap/k8s/current/bin/ctr --namespace k8s.io image pull "${FINAL_IMAGE}" > /dev/null 2>&1
            sudo /snap/k8s/current/bin/ctr --namespace k8s.io image label "${FINAL_IMAGE}" io.cri-containerd.pinned=pinned
          done
          sudo /snap/k8s/current/bin/ctr --namespace k8s.io image list -q
        if: ${{ matrix.tox-environments == 'integration' }}

      - name: Fetch charm
        uses: actions/download-artifact@v5
        with:
          name: built-charm
          path: built/

      - name: Get charm path
        id: charm-path
        run: echo "charm_path=$(find built/ -name '*.charm' -type f -print)" >> $GITHUB_OUTPUT

      - name: Run integration tests
        run: |
          tox -e ${{ matrix.tox-environments }} -- --model testing --charm-path="${{ steps.charm-path.outputs.charm_path }}"

      - name: Capture local images
        run: |
          sudo /snap/k8s/current/bin/ctr --namespace k8s.io image list -q
        if: failure()

      - name: Capture k8s resources on failure
        run: |
          set -eux
          kubectl get all -A
          kubectl get pods -n testing --show-labels
          kubectl get crds
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get validatingwebhookconfigurations
        run: kubectl get validatingwebhookconfigurations validator.trainer.kubeflow.org -oyaml
        if: failure()

      - name: Get secret
        run: kubectl get secret -ntesting kubeflow-trainer-webhook-cert -oyaml
        if: failure()

      - name: Describe pod
        run: kubectl describe pod -ntesting -lapp.kubernetes.io/name=kubeflow-trainer
        if: failure()

      - name: Get pods
        run: kubectl get pods -A
        if: failure()

      - name: Get operator logs
        run: kubectl logs --tail 100 -ntesting -lapp.kubernetes.io/name=kubeflow-trainer -c trainer
        if: failure()
