name: On Pull Request

# On pull_request, we:
# * always publish to charmhub at latest/edge/branchname
# * always run tests

on:
  pull_request:

jobs:
  build-charm:
    name: Build charm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Build charm under test
        run: charmcraft pack --verbose

      - name: Archive charm
        uses: actions/upload-artifact@v4
        with:
          name: built-charm
          path: "*.charm"
          retention-days: 5

  tests:
    name: Run Tests
    needs: 
      - build-charm
    uses: ./.github/workflows/integrate.yaml
    secrets: inherit

  # publish runs in parallel with tests, as we always publish in this situation
  publish-charm:
    name: Publish Charm
    needs:
      - build-charm
    uses: ./.github/workflows/publish.yaml
    secrets: inherit

